:root {
  --font-size: 1rem;
  --text-color: #6e7b92;
  --border-color: rgba(209, 209, 209, 0.3);
  --text-highlight-color: #006ae4;
  --text-hover-color: #328ef8;
  --border: 1px solid var(--border-color);
  --page-background-color: #f9f9fb;
  --article-border: 2px solid rgba(163, 162, 162, 0.3);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

body {
  min-width: 100vh;
  background-color: var(--page-background-color);
}

/*********************** Nav & Header **************************/
.top-container {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 999;
}

/******************* Nav ****************/
.top-container > nav {
  display: flex;
  width: 100%;
  height: 7.5vh;
  min-height: 3.5rem;
  border-bottom: var(--border);
  justify-content: space-between;
}

.top-container > nav > .left,
.right {
  display: flex;
  height: 100%;
  align-items: center;
}

.top-container > nav > .left > .logo {
  background-color: #234679;
  height: 100%;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.top-container > nav > .left > .logo > img {
  height: 1.8rem;
}

.top-container > nav > .left > .logo > span {
  font-size: calc(var(--font-size) * 2);
  color: white;
}

.top-container > nav > .left > .charity {
  font-size: calc(var(--font-size) * 1.3);
  font-weight: 600;
  padding: 1rem 1.5rem;
  cursor: pointer;
  border-right: var(--border);
  height: 100%;
  display: flex;
  align-items: center;
}

.top-container > nav > .left > .charity > span {
  color: #889fb879;
  margin-left: 3rem;
}

.top-container > nav > .left > .charity:hover > span {
  color: #889fb8;
}

.top-container > nav > .left > .option {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  padding: 0 1.5rem;
  font-weight: 500;
  height: 100%;
}

.top-container > nav > .left > .option > span {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.top-container > nav > .left > .option > span:hover {
  color: var(--text-hover-color);
}

.top-container > nav > .left > .option > .active {
  border-bottom: 2px solid var(--text-highlight-color);
  color: var(--text-highlight-color);
}

.top-container > nav > .right > .abby-gartner {
  padding: 1rem 1.5rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 1rem;
  border-left: var(--border);
  height: 100%;
}

.top-container > nav > .right > .abby-gartner > span {
  color: #889fb879;
}

.top-container > nav > .right > .abby-gartner:hover > span {
  color: #889fb8;
}

/********************** Header ***********************/

.top-container > header {
  display: flex;
  flex-direction: column;
  height: 17vh;
  min-height: 7rem;
}

.top-container > header > .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  min-height: 4rem;
  padding: 1rem 1.5rem;
  border-bottom: var(--border);
}

.top-container > header > .details > .left {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.top-container > header > .details > .left > #back_button {
  background-color: #e3effc;
  border: 2px solid #bcdcff;
  font-size: calc(var(--font-size) * 1.4);
  padding: 0.5rem 0.8rem;
  border-radius: 5px;
  color: var(--text-highlight-color);
  cursor: pointer;
}

.top-container > header > .details > .left > .directory {
  font-size: calc(var(--font-size) * 2);
  color: black;
  font-weight: bold;
  cursor: pointer;
}

.top-container > header > .details > .left > .directory > span {
  color: var(--border-color);
  font-weight: 400;
  cursor: default;
}

.top-container > header > .details > .right {
  display: flex;
}

.top-container > header > .details > .right > img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  object-position: center;
  margin-left: -0.5rem;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.top-container > header > .details > .right > img:first-child {
  z-index: 5;
}

.top-container > header > .details > .right > img:nth-child(2) {
  z-index: 4;
}

.top-container > header > .options {
  display: flex;
  justify-content: space-between;
  height: 7vh;
  min-height: 3rem;
  padding: 0 1.5rem;
}

.top-container > header > .options > .left {
  display: flex;
  gap: 2rem;
  font-weight: 500;
  height: 100%;
}

.top-container > header > .options > .left > span {
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
}

.top-container > header > .options > .left > span:hover {
  color: var(--text-hover-color);
}

.top-container > header > .options > .left > .active {
  border-bottom: 2px solid var(--text-highlight-color);
  color: var(--text-highlight-color);
}

.top-container > header > .options > .right {
  display: flex;
  align-items: center;
}

.top-container
  > header
  > .options
  > .right
  > .mark-project-complete-container
  > label {
  background-color: #e8e9ee;
  padding: 0.3rem 0.7rem;
  font-size: calc(var(--font-size) * 0.9);
  border-radius: 5px;
  font-weight: 500;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.top-container
  > header
  > .options
  > .right
  > .mark-project-complete-container
  > label
  > span {
  color: inherit;
}

.top-container
  > header
  > .options
  > .right
  > .mark-project-complete-container:has(input:checked)
  > label {
  background-color: #e9f9ed;
  color: #56b76b;
  box-shadow: #56b76b 0px 1px 1px, #56b76b 0px 0px 0px 1px;
}

.top-container
  > header
  > .options
  > .right
  > .mark-project-complete-container
  > input {
  position: absolute;
  width: 0;
}

/********************** Aside & Article ***********************/
.content-container {
  display: flex;
  padding: 1.5rem;
}

/******************** Aside *********************/

.content-container > aside {
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  padding: 1rem;
  border: var(--border);
  border-radius: 5px;
  background-color: white;
  min-width: 17vw;
}

.content-container > aside > section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: calc(var(--font-size) * 0.9);
}

.content-container > aside > section > h5 {
  margin-bottom: 0.5rem;
}

.content-container > aside > section > .checkbox-container {
  display: flex;
  gap: 0.5rem;
}

.content-container > aside > section > .checkbox-container > input,
label {
  cursor: pointer;
}

.content-container > aside > section > .checkbox-container > input {
  width: 1rem;
  height: 1rem;
}

.content-container
  > aside
  > section
  > .checkbox-container:has(input:checked)
  > label {
  color: var(--text-highlight-color);
  font-weight: 500;
}

/******************** article *********************/
.content-container > article {
  padding: 0 3rem;
  width: 100%;
}

.content-container > article > section > .title {
  display: flex;
  justify-content: space-between;
  border-bottom: var(--article-border);
  padding-bottom: 0.5rem;
}

.content-container > article > section > .title > span {
  font-size: calc(var(--font-size) * 0.9);
}

.content-container > article > section > .update-news {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 0 auto;
  padding: 2rem;
  border-left: var(--article-border);
}

.content-container > article > section > .update-news > img {
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
  object-fit: cover;
  object-position: center;
  margin-left: -0.5rem;
  border: 2px solid white;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
